
.checkin{
    background-color: #caf5d3	;
    height: 100vh;

}
.headercheckin{
    background-color: #caf5d3	;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
a{
    text-decoration: none;
    background-color: #caf5d3	;
    color: rgb(18, 127, 25);
   
}
.content{
    padding-top: 50px;
  
}
.icon{
    background-color: #caf5d3;
    font-size: 20px;
}
.QR{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;

}
.QRlogo{
    background-color: white;
    width: 80%;
    align-items: center;
    margin: auto;
    border-radius: 20px;
   
    height: 500px;
    
  
}
.QRimg{
    margin: auto;
    align-items: center;
    
    width: 100%;
    padding-top: 80px;

}