.login{
  background-color:#caf5d3	;
  color:black;
  font-family: Palatino;
  
}
.login-header{
  background-image: url("https://i.pinimg.com/564x/b5/f1/a0/b5f1a0ddd59fb82a7c9d472f41efb3e2.jpg");
  
  color:rgb(18, 127, 25);
  text-align: center;
  width: 100%;
  height: 40%;
  
  background-attachment: fixed;  
  background-size: cover;
  background-size: 100% 50%;
  
}
@media (min-width: 600px) {
  .login{
    width: 100%;
    height: 100vh;
  }
  .h1{
    font-size: 50px;
  }
  .login-header{
    background-image: url("https://i.pinimg.com/564x/b5/f1/a0/b5f1a0ddd59fb82a7c9d472f41efb3e2.jpg");
    
    color:rgb(18, 127, 25);
    text-align: center;
    width: 100%;
    height: 40%;
    
    background-attachment: fixed;  
   
    background-size: 130% 50%;
    
  }
}
@media (max-width: 600px) {
  .login{
    width: 100%;
    height: 100vh;
  }
  .h1{
    font-size: 30px;
  }
}
.text{
  padding-top: 50px;
}
h1{
  font-family: Palatino;
  text-align: center;
 
  font-weight: normal;
  font-size: 35px;
 
 
}
img{
  
  width: 50%;
  /* border-radius: 50%; */
 margin: 20px;
}
p{
  font-weight: normal;
  padding-top: 10px;
  font-family: Palatino;
  font-size: 15px;
  padding-bottom: 20px;
}
.form{
  font-size: 35px;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.font-login-body{
  width: 80%;
}
.form-button{
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
h6{
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 3px;

}
.password{
  padding-bottom: 20px;
}
.button{
  background-color:rgb(10, 105, 16);
  color:white;
  margin: auto;
}
h2{
  padding-bottom: 10px;
}