.navbarr{
    background-color: #fcfcfc;
    
 
}

.firsttt{
    background-color: orange;
    padding-top: 20px;
}
.second{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
   
}
