.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px;
}
.messTop {
  /* background-color: beige; */
}
.message.own {
  align-items: flex-end;
  /* background-color: #1877f2; */
}
.messageText {
  padding: 10px;
  border-radius: 15px;
  /* background-color: #1877f2; */
  background-color: rgb(245, 241, 241);
  max-width: 300px;
  margin-left: 10px;
}
.messageText-own {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  margin-left: 10px;
}
.messageimg-own {
  display: none;
}
