.container {
    background-color:#caf5d3	;
  color:black;
  font-family: Palatino;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(225deg, #edf0f3 30%, #baefbf 70%); */
}

.heading {
    width: 100%;
    height: 20%;

  
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
}

.tittle{
    padding-top: 30px;
    color:rgb(18, 127, 25);
  text-align: center;
  font-family: Palatino;
  padding-bottom: 10px;
}
.hinhanh {
    /* padding-top: 25px; */
    /* margin-top: 50px; */
    background-color:#caf5d3	;
   
    /* background-color: rgba(58, 197, 53, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.task{
    align-items: center;
    margin: auto;
}

.checkin-checkout {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    /* background-image: linear-gradient(225deg, #edf0f3 30%, #baefbf 70%); */
}
.route-today{
    padding: 5px;
}

.button{
    background-color:rgb(10, 105, 16);
    color:white;
    margin: auto;
    
}
.name-route{
    width: 50%;
    background-color: white;
    border-radius: 20%;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    padding-bottom: 10px;

}
.route{
    color:rgb(18, 127, 25);
    padding-top: 20px;
    font-family: Palatino;
    margin: auto;
    display: flex;
    padding-bottom: 10px;
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr{
    color:rgb(18, 127, 25);
    padding-bottom: 10px;
}
h3{
    padding-bottom: 5px;
    color:rgb(18, 127, 25);
    font-size: 15px;
}
.task{
   
    background-color: white;
    width: 50%;
    border-radius: 20%;
    text-align: center;
    padding: 10px;
    
}
.checkin-checkout{
    width: 60%;
    margin: auto;
    padding-top: 30px;
}
.time{
    width: 70%;
    align-items: center;
    margin: auto;
    text-align: center;
   
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
#thoi_gian{
    align-items: center;
    margin: auto;
    text-align: center;
}
#dong_ho {
/* background-color: rgb(18, 127, 25); */
background-image: url('https://i.pinimg.com/564x/dd/d0/16/ddd016a852040b93b0af91fae4ee40d6.jpg');
margin: auto;
margin-top: 10px;
font-family:  Palatino;
color:rgb(18, 127, 25);
font-weight: normal;
font-size: 30px;
text-align: center;
border-radius: 30px;
padding: 10px;
margin-bottom: 30px;
display: flex;
align-items: center;

}
.progess{
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}